<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="https://evolvingwithtechnology.wordpress.com">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/adiastansbury">Linkedin</a></li>
      <li><a href="https://github.com/adia-stansbury">Github</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'About', abouts_path %></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row"
    <div class="col-md-8 center">
      <%= image_tag("vbname.jpg", size:"900x500") %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row center">
    <h3>I enjoy creating web apps that help people focus on their goals and activities that they find meaningful.</h3>
    <h3>Long-term wise, my goal is to improve healthcare through technology.</h3>
  </div>
</div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Hobbies:</li>
        <li><%= link_to 'Running', runs_path %></li>
        <li><%= link_to 'Scenic Walks', walks_path %></li>
        <li><a href="https://roundtown.com/event/2110201/Game-Night-Beantown-Gamers-Cambridge-MA">Board Games</a></li>
        <li><%= link_to 'Baking & Cooking', foods_path %></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Formal Tech Edu:</li>
        <li><a href="http://summer-career-day.confetti.events">Apprentice at Launch Academy (Ruby on Rails)</a></li>
        <li><a href="https://s3.amazonaws.com/verify.edx.org/downloads/ce9bb280b6584d628e918ed677568185/Certificate.pdf">Intro to CS, using Python</a></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Projects:</li>
        <li><a href="https://adia-health-record.herokuapp.com">HealthRecord</a></li>
        <li><a href="https://gemhunter.herokuapp.com">GemHunter</a></li>
        <li><a href="http://adia-job-hunt.herokuapp.com">JobHunt</a></li>
      </ul>
    </div>
  </div>
</div>







