<h2>Scenic Pics From My Walks</h2>
<h2><%= image_tag("beach.jpg", size:"400x200") %></h2>
<h2><%= image_tag("Border.jpg", size:"400x200") %></h2>
<h2><%= image_tag("bunny.jpg", size:"400x200") %></h2>
<h2><%= image_tag("carson.jpg", size:"400x200") %></h2>
<h2><%= image_tag("copley.jpg", size:"400x200") %></h2>
<h2><%= image_tag("hike.jpg", size:"400x200") %></h2>
<h2><%= image_tag("hike1.jpg", size:"200x200") %></h2>
<h2><%= image_tag("KSPlain.jpg", size:"400x200") %></h2>
<h2><%= image_tag("seagull.jpg", size:"400x200") %></h2>

<%= link_to 'Home Page', root_path %>
