<h2>Running Highlights</h2>

<ul class="list">
  <li><a href="http://www.mtecresults.com/runner/show?race=2074&email=1&rid=16907">
  LA Marathon</a></li>
  <li><a href="http://034f962.netsolhost.com/mapleleaf/race-results/race-results-2014/">
    Maple Leaf Half Marathon</a></li>
  <li><a href="https://my.racewire.com/result/1180261">Applefest Half Marathon 2012</a></li>
  <li><a href="https://my.racewire.com/result/4019192">Back in the Day 10K</a></li>
  <li><a href="https://my.racewire.com/result/3021542">Yulefest 5K</a></li>
  <li><a href="https://my.racewire.com/result/3975482">Mass Ave Mile</a></li>

</ul>

Applefest Half Marathon     Oct 2013
BIB 130                     AGE 23
PACE  9:19                  FINISH_TIME 2:01:57
DIVISION  F2024
DIV_PLACE 16                DIV_TOTAL 43

Applefest Half Marathon     Oct 2012
BIB 511                     AGE 22
PACE 10:37                  FINISH_TIME 2:19:03
DIVISION F2024
DIV_PLACE 16                DIV_TOTAL 30

<ul class="list">
  <li><%= image_tag("gobble.png", size:"500x500") %></li>
  <li><%= image_tag("applefest2013.png", size:"500x500") %></li>
  <li><%= image_tag("badhabit.png", size:"500x500") %></li>
  <li><%= image_tag("hero.png", size:"500x500") %></li>
  <li><%= image_tag("luv.png", size:"500x500") %></li>
  <li><%= image_tag("oktoberfest.png", size:"500x500") %></li>
  <li><%= image_tag("trail.png", size:"500x500") %></li>
  <li><%= image_tag("wholefoods.png", size:"500x500") %></li>
</ul>

<%= link_to 'Home Page', root_path %>


