<h2>Running Highlights</h2>

<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-4 center">
      <%= image_tag("sh.png", size:"300x300") %>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Marathon:</li>
        <li><a href="http://www.mtecresults.com/runner/show?race=2074&email=1&rid=16907">
        LA</a></li>
      </ul>
      <br>
      <br>
      <ul class="list">
        <li class="none">Half Marathons:</li>
        <li><a href="http://034f962.netsolhost.com/mapleleaf/race-results/race-results-2014/">
          Maple Leaf</a></li><br>
        <li><a href="https://my.racewire.com/result/1180261">Applefest 2012</a></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <%= image_tag("oktoberfest.png", size:"300x300") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-12 center">
      <table class="table table-bordered">
        <tr>
          <td>Run</td>
          <td>Date</td>
          <td>Bib</td>
          <td>Pace</td>
          <td>Finish Time</td>
          <td>Div Place/Total</td>
        </tr>
        <tr>
          <td>Applefest Half Marathon</td>
          <td>Oct 2013</td>
          <td>130</td>
          <td>9:19</td>
          <td>2:01:57</td>
          <td>16/43</td>
        </tr>
        <tr>
          <td>Applefest Half Marathon</td>
          <td>Oct 2012</td>
          <td>511</td>
          <td>10:37</td>
          <td>2:19:03</td>
          <td>16/30</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-4 center">
      <%= image_tag("luv.png", size:"300x300") %>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">10K:</li>
        <li><a href="https://my.racewire.com/result/4019192">Back in the Day</a></li>
      </ul><br><br>
      <ul class="list">
        <li class="none">5K:</li>
        <li><a href="https://my.racewire.com/result/3021542">Yulefest</a></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <%= image_tag("wholefoods.png", size:"300x300") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-16 center">
      <ul class="list">
        <li class="none">One Mile:</li>
        <li><a href="https://my.racewire.com/result/3975482">Mass Ave Mile</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-16 center"
      <h3>Total Runs by Distance</h3>
      <%= pie_chart @runs.group(:distance).count %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sm-padding">
    <div class="col-md-4 center">
      <%= image_tag("gobble.png", size:"300x300") %>
    </div>
    <div class="col-md-4 center">
      <%= image_tag("badhabit.png", size:"300x300") %>
    </div>
    <div class="col-md-4 center">
      <%= image_tag("trail.png", size:"300x300") %>
    </div>
  </div>
</div>

<p><%= link_to 'Home Page', root_path %></p>


